In [1]:
import pandas as pd

In [2]:
def get_cols(df):
    cols = df[['Year','Player','Pos','Age','Tm','PER','3PAr','3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%','PTS']]

In [3]:
read_csv = pd.read_csv('nba-stats.csv')
data = pd.DataFrame(read_csv)
data.head()
data.shape
data.columns
#data.isnull().sum()

Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [14]:
#solo queremos estad√≠sticas de tiro para medir a los mejores tiradores de triples
df = pd.DataFrame()
df = data[['Year','Player','Pos','Age','Tm','PER','3PAr','3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%','PTS']]
#limpiamos nulos
df = df[df['3P'].notnull()]
df = df[df['3PAr'].notnull()]
df = df[df['3P%'].notnull()]

df.head()

,Year,Player,Pos,Age,Tm,PER,3PAr,3P,3PA,3P%,2P,2PA,2P%,eFG%,PTS
5727,1980.0,Kareem Abdul-Jabbar*,C,32.0,LAL,25.3,0.001,0.0,1.0,0.000,835.0,1382.0,0.604,0.604,2034.0
5728,1980.0,Tom Abernethy,PF,25.0,GSW,11.0,0.003,0.0,1.0,0.000,153.0,317.0,0.483,0.481,362.0
5729,1980.0,Alvan Adams,C,25.0,PHO,19.2,0.002,0.0,2.0,0.000,465.0,873.0,0.533,0.531,1118.0
5730,1980.0,Tiny Archibald*,PG,31.0,BOS,15.3,0.023,4.0,18.0,0.222,379.0,776.0,0.488,0.485,1131.0
5732,1980.0,Gus Bailey,SG,28.0,WSB,9.3,0.029,1.0,1.0,1.000,15.0,34.0,0.441,0.471,38.0

In [172]:
df.rename(index=str, columns= {"Pos":"Position","Tm":"Team"}).head(1)

,Year,Player,Position,Age,Team,PER,3PAr,3P,3PA,3P%,2P,2PA,2P%,eFG%,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,NaN,NaN,NaN,NaN,NaN,144.0,516.0,0.279,0.279,458.0

In [173]:
#filtramos por a√±os superiores a 1980
over_2009 = df['Year']>=2009
nba= df[over_2009]
nba.head(10)

,Year,Player,Pos,Age,Tm,PER,3PAr,3P,3PA,3P%,2P,2PA,2P%,eFG%,PTS
19339,2009.0,Alex Acker,SG,26.0,TOT,10.4,0.263,7.0,20.0,0.350,23.0,56.0,0.411,0.441,72.0
19340,2009.0,Alex Acker,SG,26.0,DET,16.0,0.364,0.0,4.0,0.000,4.0,7.0,0.571,0.364,9.0
19341,2009.0,Alex Acker,SG,26.0,LAC,9.8,0.246,7.0,16.0,0.438,19.0,49.0,0.388,0.454,63.0
19342,2009.0,Hassan Adams,SG,24.0,TOR,0.4,0.000,0.0,0.0,NaN,4.0,13.0,0.308,0.308,11.0
19343,2009.0,Arron Afflalo,SG,23.0,DET,8.9,0.357,43.0,107.0,0.402,88.0,193.0,0.456,0.508,363.0
19344,2009.0,Maurice Ager,SG,24.0,NJN,2.2,0.140,0.0,6.0,0.000,15.0,37.0,0.405,0.349,34.0
19345,2009.0,Blake Ahearn,PG,24.0,SAS,12.9,0.667,2.0,4.0,0.500,0.0,2.0,0.000,0.500,8.0
19346,2009.0,Alexis Ajinca,PF,20.0,CHA,7.0,0.029,0.0,2.0,0.000,25.0,67.0,0.373,0.362,70.0
19347,2009.0,LaMarcus Aldridge,PF,23.0,POR,19.1,0.023,7.0,28.0,0.250,594.0,1215.0,0.489,0.486,1470.0
19348,2009.0,Joe Alexander,SF,22.0,MIL,10.1,0.188,16.0,46.0,0.348,86.0,199.0,0.432,0.449,278.0

In [175]:
#m√°ximo anotador de triples desde 2009

three_pts = nba.groupby('Player')['3P'].sum().sort_values(ascending=False)
three_shoots = nba.groupby('Player')['3PA'].sum().sort_values(ascending=False)
threes = three_pts.to_frame().join(three_shoots.to_frame())
threes['3Rate'] = round(three_pts/three_shoots,3)
threes.head()

                   3P     3PA  3Rate
Player
Stephen Curry  1917.0  4379.0  0.438
J.R. Smith     1498.0  3980.0  0.376
Kyle Korver    1477.0  3307.0  0.447
James Harden   1382.0  3801.0  0.364
J.J. Redick    1381.0  3374.0  0.409